{{> header}}
<h1 align="center">User Info</h1>
<h2 align="center">{{username}}</h2>

{{#if loggedIn}}
    <div class="history">
        <button class="history btn btn-info">Show History</button>
    </div>
    <div class="history">
        <div class="history-content" style="display: none;">
            <ul>
                {{#each orders}}
                    <li>{{> order}}</li>
                {{/each}}

            </ul>
        </div>
    </div>
{{/if}}

{{> footer}}