<div class="item">
    <img src="{{imageUrl}}" class="img-responsive center-block" alt="{{imageAlt}}">
    <div class="carousel-caption">
        <h3>{{imageCaption}}</h3>
        <p>{{imageDetails}}</p>
    </div>
</div>