{{> header}}
{{#if loggedIn}}
    <div class="history">
        <a href="#/createEvent">
            <button class="btn btn-info">Create Event</button>
        </a>
    </div>
    <div class="history" >
            <button id="categoryBtn" class="btn btn-info">Create Category</button>
    </div>
    <div class="container" style="display: none" id="categoryDiv">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <div class="page-header">
                    <h1 class="text-center">Create Category</h1>
                </div>
                <form class="form-horizontal" action="#/createCategory"  method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="categoryName">Category:</label>
                            <input type="text" class="form-control" name="categoryName" id="categoryName" placeholder="Enter category name...">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="history">
        <button class="history btn btn-info">Show all sales</button>
    </div>

    <div class="history">
        <div class="history-content" style="display: none;">
            <ul>
                {{#each orders}}
                    <li>{{> order}}</li>
                {{else}}
                    <li>No sales yet!</li>
                {{/each}}

            </ul>
        </div>
    </div>

    <div class="admin">
        <button class="admin btn btn-info">Show all users</button>
    </div>

    <div class="admins">
        <div class="admin-content" style="display: none;">
            <form class="" action="#/admin/update" method="post">
                {{#each users}}
                    <div class="form-group">
                        <label>Username: {{username}}</label>
                            <input type="checkbox" name="user" value="{{_id}}" {{#if admin}}checked>Admin{{else}}
                        >User{{/if}}<br>
                    </div>
                {{/each}}
                <button type="submit" class="admins btn btn-info">Update</button>
            </form>
        </div>
    </div>
{{/if}}
{{> footer}}