<li class="list-group-item">
    {{categoryName}}
    <div class="material-switch pull-right">
        <input id="id{{categoryId}}" name="{{categoryId}}" type="checkbox"/>
        <label for="id{{categoryId}}" class="label-default"></label>
    </div>
</li>