{{> header}}
<div class="catalog-container" style="background-color: #f2f2f2">
    <div class="jumbotron" style="margin-bottom: 0">
        <div class="container text-center">
            <h1>Online Store</h1>
            <p>Mission, Vission &amp; Values</p>
        </div>
    </div>
    <div class="container">
        <div class="price-heading">
            <form method="get" action="#/events/filtered">
                <div class="row">
                    <div class="col-md-0"></div>
                    <div class="col-md-4">
                        <div id="prices" class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">PRICE</div>

                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Under 100 BGN
                                    <div class="material-switch pull-right">
                                        <input id="someSwitchOptionDefault" name="0-100" type="checkbox"/>
                                        <label for="someSwitchOptionDefault" class="label-default"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    100-200 BGN
                                    <div class="material-switch pull-right">
                                        <input id="someSwitchOptionPrimary" name="100-200" type="checkbox"/>
                                        <label for="someSwitchOptionPrimary" class="label-primary"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    200-500 BGN
                                    <div class="material-switch pull-right">
                                        <input id="someSwitchOptionSuccess" name="200-500" type="checkbox"/>
                                        <label for="someSwitchOptionSuccess" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    More than 500 BGN
                                    <div class="material-switch pull-right">
                                        <input id="someSwitchOptionInfo" name="500-9999" type="checkbox"/>
                                        <label for="someSwitchOptionInfo" class="label-info"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div id="locationss" class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">LOCATION</div>

                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Sofia
                                    <div class="material-switch pull-right">
                                        <input id="one" name="Sofia" type="checkbox"/>
                                        <label for="one" class="label-default"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Burgas
                                    <div class="material-switch pull-right">
                                        <input id="two" name="Burgas" type="checkbox"/>
                                        <label for="two" class="label-primary"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Vancouver
                                    <div class="material-switch pull-right">
                                        <input id="three" name="Vancouver" type="checkbox"/>
                                        <label for="three" class="label-success"></label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Plovdiv
                                    <div class="material-switch pull-right">
                                        <input id="four" name="Plovdiv" type="checkbox"/>
                                        <label for="four" class="label-info"></label>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div id="cat" class="panel-heading">CATEGORY</div>

                            <!-- List group -->
                            <ul class="list-group">
                                {{# each categories}}
                                    {{> categoryItem}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" style="text-align: center">Search</button>
                </div>
            </form>
        </div>
    </div>


    <div class="container">
        <div class="row">
            {{#each events}}
                {{> eventBox}}
            {{else}}
                <div>
                    <p><i>No events in database!</i></p>
                </div>
            {{/each}}
        </div>
    </div>
    <br>
</div><br><br>
{{> footer}}
